



/*   nav bar styleing */






/* end styleing of nav bar */


/* hero section styleing */





/* end hero section styleing */















































/*section projectis styleing*/
/* section#projects{
   flex-direction: row;
   flex-wrap: wrap;
    width: 100%; 
    display: flex;
   align-items: center;
   justify-content: center;
   } */
section#projects>h1{
    color: rgb(12, 151, 12);
    font-size: xx-large;
}


.project-card-tytle>h1{
    color: rgba(0, 95, 0, 0.904);
    font-size: x-large;
}
.project-card-dick>p{
    color: rgba(48, 151, 48, 0.774);
    font-size: large;
}
.project-card-tytle2>h1{
    color: rgba(0, 95, 0, 0.904);
    font-size: x-large;
}
.project-card-dick2>p{
    color: rgba(48, 151, 48, 0.774);
    font-size: large;
}
.project-containers{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}
.project-containers2{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 50px;
     background-color: rgb(241, 253, 236);
     border-radius: 20px;
 }
 .project-card2{

    width: 98%;
    height: 150px;
    border-radius: 20px;
 }
 .project-card{

   width:31%;
   height: 150px;
   background-color: rgb(241, 253, 236);
   border-radius: 20px;
 }
 .project-card:hover{
    background-color:rgb(228, 255, 216);
box-shadow: 0 2px 2px 2px gray;
transition-property: all;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
transition-delay: 0s;
border-radius: 30px;
border: 2px solid rgb(0, 138, 0);
 }
 .project-card2:hover{
    background-color:rgb(228, 255, 216);
    box-shadow: 0 2px 2px 2px gray;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 30px;
    border: 2px solid rgb(0, 138, 0);
 }
/* nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */


/*end section projectis styleing*/


