
#back{
 height: 50px;
 width: 200px;
 border: 3px solid rgb(255, 255, 255);   
 border-radius: 30px;
 background-color: rgb(255, 255, 255);
border: 1px solid rgb(0, 0, 0);
transition: 0.5s;

}
#back:hover{
    scale: 1.1;
    transition: 0.5s;
}
.main-box:hover{
   scale: 1.1;
    transition: 0.5s;
    box-shadow: 10px 10px 10px 10px rgb(255, 255, 255);
}

#back-home{
    padding: 15px 20px 40px 35px;
    font-size: 15px;
}
body{
    height: 650px;
    background-color: rgb(143, 234, 234);
  
}

.main-box{
background-color: rgb(143, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
;
height: 550px;
width: 400px;
border-radius: 10px;
margin:0 auto;
border: 5px solid rgb(255, 255, 255);
transition: 0.5s;
}
h3{
   color: rgb(88, 185, 185);
}
#rules{
    height: 170px;
    width: 100%;
    background-color: rgb(248, 173, 218);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}
.light-mode{
    color: rgb(255, 255, 255);
}
.dark-mode{
   background-color: rgb(44, 121, 130);
   color: rgb(0, 0, 0);
}
.the-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
  margin-top: 300px;
}